@model Vatebra.web.ViewModels.CreateBookViewModel

@{
    ViewData["Title"] = "CreateBooks";
}

<h1>Add Books to Inventory</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <span class="text-success">
            @ViewData["CreateBookMessage"]
            </span>
        <span class="text-danger">
            @ViewData["CreateBookMessageError"]
        </span>
        <form asp-action="CreateBooks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bookName" class="control-label"></label>
                <input asp-for="bookName" class="form-control" />
                <span asp-validation-for="bookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookTitle" class="control-label"></label>
                <input asp-for="bookTitle" class="form-control" />
                <span asp-validation-for="bookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yearPublished" class="control-label"></label>
                <input asp-for="yearPublished" class="form-control" />
                <span asp-validation-for="yearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookAbstract" class="control-label"></label>
                <input asp-for="bookAbstract" class="form-control" />
                <span asp-validation-for="bookAbstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="versionTitle" class="control-label"></label>
                <input asp-for="versionTitle" class="form-control" />
                <span asp-validation-for="versionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
